@model TIRequestResponse.ActivityPaxInfo
@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />   
</head>
<body>
    <div class="modal fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close close1" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button> -->
                    <h1 class="modal-title" id="myModalLabel">Activity Invoice</h1>
                </div>
                <div class="modal-body">
                    <table width="800" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="4" height="7"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="height:20px;">
                                <xsl:if test="SightVoucher/ConfirmationNo=''">
                                    <h2 style="font-family: Verdana,Geneva,sans-serif;color:red!important;font-size:14px!important;">
                                        There is no supplier confirmation no for this booking. Kindly check with supplier before giving the voucher to traveler.
                                    </h2>
                                </xsl:if>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table cellpadding="0" cellspacing="0" style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;">

                                    <tr>
                                        <td width="176">
                                            <span style="font-weight: bold;">Booking Reference No.:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/ReservationRef"></xsl:value-of>
                                        </td>
                                        <td width="176">
                                            <span style="font-weight: bold;">Booking Date:</span>
                                        </td>
                                        <td width="213">
                                            <xsl:value-of select="SightVoucher/BookingDate"></xsl:value-of>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="176">
                                            <span style="font-weight: bold;">Supplier Confirmation No.:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/ConfirmationNo"></xsl:value-of>
                                        </td>
                                        <td width="176">
                                            <span style="font-weight: bold;">Lead Pax:</span>
                                        </td>
                                        <td width="213">
                                            <xsl:value-of select="SightVoucher/LeadPaxName"></xsl:value-of>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="176">
                                            <span style="font-weight: bold;">Service Reference No.:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/ReservationId"></xsl:value-of>
                                        </td>
                                        <td width="176">
                                            <span style="font-weight: bold;">Nationality:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/Nationality"></xsl:value-of>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="176">
                                            <span style="font-weight: bold;"> Voucher No.:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/VoucherNo"></xsl:value-of>
                                        </td>
                                        <td width="176">
                                            <span style="font-weight: bold;">Incoming Office Code-FileNo.:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/IncomingOffice"></xsl:value-of>- <xsl:value-of select="SightVoucher/FileNo"></xsl:value-of>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="10"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="color: #006990;font-size: 12px;font-weight: bold;padding: 10px 30px 10px 0px;font-family: Verdana, Geneva, sans-serif;">
                                <span style="font-weight: bold;">Tour Details</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;" cellpadding="0" cellspacing="0" class="bdr-tbl">
                                    <tr>
                                        <td width="176" valign="top">
                                            <span style="font-weight:bold;">Activity Name:</span>
                                        </td>
                                        <td width="238" style="valign:top;">
                                            @Model.TourDetails.Name
                                        </td>
                                        <td width="176" valign="top">
                                            <span style="font-weight: bold;">Tour Name:</span>
                                        </td>
                                        <td width="238" valign="top">
                                            @Model.SightSeeing.Tour.Name
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="176" valign="top">
                                            <span style="font-weight: bold;">Tour Type: </span>

                                        </td>
                                        <td width="238" valign="top">
                                            @Model.TourDetails.Type

                                        </td>
                                        <td width="176" valign="top">
                                            <span style="font-weight: bold;">Tour Date:</span>
                                        </td>
                                        <td width="238" valign="top">
                                        @Model.SightSeeing.Tour.Date
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="176">
                                            <span style="font-weight: bold;">Tour Duration:</span>
                                        </td>
                                        <td width="238">
                                            @Model.SightSeeing.Tour.Duration
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <xsl:if test="SightVoucher/CID='HB'">
                            <td colspan="4" style="color: #006990;font-size: 12px;font-weight: bold;padding: 10px 30px 10px 0px;font-family: Verdana, Geneva, sans-serif;">
                                <span style="font-weight: bold;">Pickup Details</span>
                            </td>
                            <tr>
                                <td colspan="4" height="4" style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;text-align:justify;">
                                    <xsl:value-of select="SightVoucher/PickAddress" disable-output-escaping="yes"></xsl:value-of>
                                </td>
                            </tr>
                        </xsl:if>
                        <tr>
                            <td colspan="4" style="color: #006990;font-size: 12px;font-weight: bold;padding: 10px 30px 10px 0px;font-family: Verdana, Geneva, sans-serif;">
                                <span style="font-weight: bold;">Tour Description</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;text-align:justify;">
                                <xsl:value-of select="SightVoucher/SightDesc" disable-output-escaping="yes"></xsl:value-of>
                            </td>
                        </tr>
                        <xsl:if test="SightVoucher/PickName!='' and SightVoucher/PickName!='null'">
                            <tr>
                                <td colspan="4" height="4"></td>
                            </tr>
                            <tr>
                                <td colspan="4" style="color: #006990;font-size: 12px;font-weight: bold;padding: 10px 30px 10px 0px;font-family: Verdana, Geneva, sans-serif;">
                                    <span style="font-weight: bold;">Services Details</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" height="4"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;" cellpadding="0" cellspacing="0" class="bdr-tbl">
                                        <tr>
                                            <td width="176">
                                                <span style="font-weight: bold;">Time:</span>
                                            </td>
                                            <td width="238">
                                                <xsl:value-of select="SightVoucher/PickTime"></xsl:value-of>
                                            </td>
                                            <td width="176">
                                                <span style="font-weight: bold;">Departure Point: </span>

                                            </td>
                                            <td width="238">
                                                <xsl:value-of select="SightVoucher/PickName"></xsl:value-of>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="176">
                                                <span style="font-weight: bold;">Address:</span>
                                            </td>
                                            <td width="238">
                                                <xsl:value-of select="SightVoucher/PickAddress"></xsl:value-of>
                                            </td>
                                            <td width="176">
                                                <span style="font-weight: bold;">Emergency Contact:</span>
                                            </td>
                                            <td width="238">
                                                <xsl:value-of select="SightVoucher/Phone"></xsl:value-of>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </xsl:if>
                        <tr>
                            <td colspan="4" height="4"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="color: #006990;font-size: 12px;font-weight: bold;padding: 10px 30px 10px 0px;font-family: Verdana, Geneva, sans-serif;">
                                <span style="font-weight: bold;">Pax Details</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table cellpadding="0" style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;" cellspacing="0">
                                    <tr>
                                        <td width="176" valign="top">
                                            <span style="font-weight: bold;">Pax Name(s):</span>
                                        </td>
                                        <td width="627" colspan="3">
                                            &#160;<xsl:value-of select="SightVoucher/LeadPaxName"></xsl:value-of>
                                            <br />
                                            <xsl:value-of select="SightVoucher/PaxNames" disable-output-escaping="yes"></xsl:value-of>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="176">
                                            <span style="font-weight: bold;"> No. Of Adult:</span>
                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/AdultCount"></xsl:value-of>
                                        </td>
                                        <td width="176">
                                            <span style="font-weight: bold;"> No. Of Child: </span>

                                        </td>
                                        <td width="238">
                                            <xsl:value-of select="SightVoucher/ChildCount"></xsl:value-of>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="8"></td>
                        </tr>
                        <tr>
                            <td>
                                <xsl:if test="SightVoucher/PleaseNote!=''">
                        <tr>
                            <td colspan="4" height="7"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-family: Verdana, Geneva, sans-serif;font-size:11px;">
                                <span style="font-weight: bold;">Please Note </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="4"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;text-align:justify;" colspan="4">
                                <xsl:value-of select="SightVoucher/PleaseNote"></xsl:value-of>
                            </td>
                        </tr>
                        </xsl:if>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                <xsl:if test="SightVoucher/SplRequest!=''">
                        <tr>
                            <td colspan="4" height="7"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-family: Verdana, Geneva, sans-serif;font-size:11px;text-align:justify;">
                                <span style="font-weight: bold;">Special Request </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="4"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Verdana,Geneva,sans-serif; font-size:11px; font-weight:normal; line-height:18px;text-align:justify;" colspan="4">
                                <xsl:value-of select="SightVoucher/SplRequest"></xsl:value-of>
                            </td>
                        </tr>
                        </xsl:if>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                <xsl:if test="SightVoucher/TermsConditions!=''">
                        <tr>
                            <td colspan="4" style="color: #006990;font-size: 12px;font-weight: bold;padding: 10px 30px 10px 0px;font-family: Verdana, Geneva, sans-serif;">
                                <span style="font-weight: bold;">Non Refundable Policies</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="4"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Verdana,Geneva,sans-serif; font-size:11px;" colspan="4">
                                <xsl:value-of select="SightVoucher/TermsConditions"></xsl:value-of>
                            </td>
                        </tr>
                        </xsl:if>
                        </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="4"></td>
                        </tr>

                        <tr>
                            <td>
                                <xsl:if test="SightVoucher/ContractRemarks!=''">
                        <tr>
                            <td colspan="4" height="7"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-family: Verdana, Geneva, sans-serif;font-size:11px;">
                                <span style="font-weight: bold;">Remarks </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="4"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Verdana,Geneva,sans-serif; font-size:11px;text-align:justify; line-height:18px;" colspan="4">
                                <xsl:value-of select="SightVoucher/ContractRemarks"></xsl:value-of>
                            </td>
                        </tr>
                        </xsl:if>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                <xsl:if test="SightVoucher/CanxPolicy!=''">
                        <tr>
                            <td style="border:0px solid #ccc;font-family:Verdana,Geneva,sans-serif; font-size:11px;text-align:left; line-height:18px;" colspan="4">
                                <xsl:value-of select="SightVoucher/CanxPolicy" disable-output-escaping="yes"></xsl:value-of>
                            </td>
                        </tr>
                        </xsl:if>
                        </td>
                        </tr>
                        <tr>
                            <td>
                        <tr>
                            <td colspan="4" align="left" style="font-family:Verdana,Geneva,sans-serif; font-size:11px;">
                                <br />

                                <span style="font-weight:bold;">Check your booking details carefully and inform us immediately if you have any queries</span>
                                <br />
                            </td>
                        </tr>

                        <tr>
                            <td align="left" colspan="4" style="font-family:Verdana,Geneva,sans-serif; font-size:11px;">
                                <br />
                                <span style="font-weight: bold; ">Having questions or need assistance?</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-family:Verdana,Geneva,sans-serif; font-size:11px;line-height:18px" align="left">
                                Contact us at :
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-family:Verdana,Geneva,sans-serif; font-size:11px; line-height:18px;" align="left">
                                Email :  <xsl:value-of select="SightVoucher/ContactEmail"></xsl:value-of>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-family:Verdana,Geneva,sans-serif; font-size:11px;width:550px; line-height:18px;" align="left">
                                Emergency Contact No :- <xsl:value-of select="SightVoucher/TollFreeNo"></xsl:value-of>
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="padding-right:15px" align="left">
                                <a id="printVoucher" onclick="document.getElementById('printVoucher').style.display='none';window.print();" style="display: block; background: #006990;color: #fff;text-align: center;padding: 6px;font-size: 14px; clear: both; cursor :pointer;">Print</a>
                            </td>
                        </tr>
                        </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
