
@{
    ViewBag.Title = "ActivityResult";
    Layout = "~/Views/Shared/" + CommonComponents.CompanySettings.CompanySetting().CompanyId + "/R2L/_LayoutInner.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Angularjs/Controller/ActivitySearch.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Angularjs/Controller/Generic.js")"></script>

@*<script type="text/javascript" src="@Url.Content("~/Angularjs/Angular/rzslider.js")"></script>*@
<link id="main-style" rel="stylesheet" href="@Url.Content("~/Css/"+CommonComponents.CompanySettings.CompanySetting().CompanyId+"/rzslider.css")" media="all" />
<style type="text/css">
    .offer_red {
        width: 44px;
        height: 42px;
        position: absolute;
        top: 0px;
        z-index: 1;
    }
</style>
<div ng-app="mainApp" ng-controller="ActivitySearch" ng-cloak>
    @*@Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "/_ActivityWaiting")*@
    <div class="con tainer">
        @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityMobileSortFilter")
    </div>
    <div>
        <div class="page-title-container style2">
            <div class="container">
                <div class="page-title">
                    @*<h2 class="entry-title">Hotel Search Results</h2>*@
                </div>
                <ul class="breadcrumbs">
                    <li><a href="@Url.Content("~/")">@LanguageResources.Resources.Home</a></li>
                    <li class="active">@LanguageResources.Resources.ActivitySearchResults</li>
                </ul>
            </div>
        </div>
        <section id="content">
            <div class="search-box-wrapper" ng-show="noResultsFound" style="border-bottom: 1px solid #eaeaea;" id="modifyNR">
                @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityNR")
            </div>
            <div class="container">
                <div id="main-1">
                    <div class="row">
                        <div class="col-sm-4 col-md-3" ng-show="noResults">
                            <div class="toggle-container filters-container hidden-xs">
                                @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "/_ActivityM")
                                @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "/_ActivityFilter")
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9" ng-show="noResults">
                            <div class="sort-by-section clearfix search-details fixresulttop">
                                <ul class="search-criteria sort-bar clearfix block-sm">
                                    <li >
                                        <label class="search-city">
                                            @*<i class="soap-icon-departure" style="font-size: 20px;vertical-align:sub !important"></i>*@
                                            <i class="soap-icon-hotel-2 ng-scope" style="font-size: 20px;vertical-align:sub !important"></i> {{:: ActivityCityName}}
                                        </label>
                                        <div>
                                            <span class="customDir"><i class="soap-icon-calendar" style="font-size: 18px;vertical-align:baseline !important"></i>&nbsp;{{ActivityFromDate | dayName | date:'EEE'}}, {{ActivityFromDate}} &nbsp;<i class="soap-icon-right" style="vertical-align:baseline !important"></i>&nbsp; <i class="soap-icon-calendar" style="font-size: 18px;vertical-align:baseline !important"></i>&nbsp;{{ActivityToDate | dayName | date:'EEE'}}, {{ActivityToDate}}</span>,<b style="margin-left:5px;">
                                            {{Adultcount > 1 ? Adultcount+ ' @LanguageResources.Resources.Adults' : Adultcount+ ' @LanguageResources.Resources.Adult'}}{{Childcount >1 ? ', ' +Childcount+ ' @LanguageResources.Resources.Children' : ', ' +Childcount+ ' @LanguageResources.Resources.Child'}}
                                            </b>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="sort-by-section clearfix" ng-show="noResults">
                                <div ng-show="showWaiting" class="sort-by-title block-sm" style="margin:16px 18px 16px 0px">
                                    <div class="animated-hotelSorting"></div>
                                </div>
                                <div ng-show="ActivityresultShow" ng-if="(Activities | filter:{Name:ByActivityname} | orderBy:sortType:sortReverse | filter:priceRangeA  | filter:CategoryFilter | itemsPerPage:ResultSize).length > 0" class="hidden-xs">
                                    <h4 class="sort-by-title block-sm">@LanguageResources.Resources.Sortresultsby</h4>
                                    <ul class="sort-bar clearfix block-sm">                                        
                                        <li id="name" class="sort-by-name" style="cursor:pointer"><a class="sort-by-container" ng-click="ActivitysortBy('Name');"><span>@LanguageResources.Resources.name</span></a></li>
                                        <li id="minP" class="sort-by-price" style="cursor:pointer"><a class="sort-by-container" ng-click="ActivitysortBy('MinP','Gross_Curr');"><span>@LanguageResources.Resources.Price</span></a></li>
                                        <li class="clearer visible-sms"></li>
                                        <li id="duration" class="sort-by-rating" style="cursor:pointer"><a class="sort-by-container" ng-click="ActivitysortBy('DurationHours');"><span>@LanguageResources.Resources.Duration</span></a></li>
                                    </ul>
                                </div>
                                <div ng-show="showWaiting">
                                    <div class="animated-totalHotel"></div>
                                </div>
                                <h5 ng-show="ActivityresultShow" class="sort-by-title-total block-sm-total" style="float:right"><i class="soap-icon-beach"></i><b>&nbsp;{{(Activities | filter:{Name:ByActivityname} | orderBy:sortType:sortReverse | filter:CategoryFilter).length}} {{(Activities | filter:{Name:ByActivityname} | orderBy:sortType:sortReverse | filter:CategoryFilter).length > 1 ? '@LanguageResources.Resources.Activitiesfound' : '@LanguageResources.Resources.Activitiesfound'}}</b></h5>
                            </div>
                            <div style="margin-bottom:0px !important" ng-show="hideClearFilter" class="listing-style3 hotel nofilterresult" ng-if="(Activities | filter:{Name:ByActivityname} | orderBy:sortType:sortReverse | filter:priceRangeA  | filter:CategoryFilter | itemsPerPage:ResultSize).length == 0">
                                <article class="box" style="margin-bottom:0px !important">
                                    <div class="row">
                                        <div class="col-sm-2" style="border-right:1px solid #eaeaea">
                                            <i class="fa fa-chain-broken"></i>
                                        </div>
                                        <div class="col-sm-10">
                                            <h3 style="color:#9e9e9e">@LanguageResources.Resources.Wecouldnotfindanyoptionsasperyourselectedcombinationoffilters</h3>
                                            <div class="txt"><a href="javascript:void(0)" ng-click="ClearAllFilters()" style="color:#337ab7 !important"><img src="@Url.Content("~/Images/"+CommonComponents.CompanySettings.CompanySetting().CompanyId+"/clearfilter.png")" style="height: 18px;padding-right: 5px;" />@LanguageResources.Resources.Clearallfilters</a></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="listing-style3 activity" style="margin-top:10px;" ng-show="ActivityresultShow"  id="dvResult" dir-paginate="Activity in Activities | filter:{Name:ByActivityname} | orderBy:sortType:sortReverse | filter:priceRangeA  | filter:CategoryFilter | itemsPerPage:ResultSize">
                                <article class="resultBox box" style="position:relative">  
                                    <a class="hidden-lg hidden-md hidden-sm btn-on-responsive" ng-click="GetDetails(Activity,'')"></a>                                  
                                    <figure class="col-sm-5 col-md-3 col-xs-4" style="cursor:pointer" ng-if="Activity.Image!=''" ng-click="GetDetails(Activity,'')">
                                        <a title="" data-toggle="modal" data-target="#squarespaceModal" class="hover-effect popup-g allery">
                                            <img class="img-responsive-custom1 img-responsive-custom1_xs" ng-src="{{Activity.Image}}" alt="" on-error-src="@Url.Content("~/Images/TI/not_avil.jpg")" />
                                        </a>
                                    </figure>
                                    <figure class="col-sm-5 col-md-3 col-xs-4" ng-if="Activity.Image ==''" ng-click="GetDetails(Activity,'')">
                                        <a title="" data-toggle="modal" data-target="#squarespaceModal" class="hover-effect popup-g allery">
                                            <img class="img-responsive-custom1 img-responsive-custom1_xs" src="@Url.Content("~/Images/TI/not_avil.jpg")" />
                                        </a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-9 col-xs-8">
                                        <div>
                                            <div>
                                                <h3 class="box-title">
                                                    <span>{{Activity.DisplayName | limitTo:40}} {{Activity.Provider}}</span>
                                                    <small ng-if="Activity.Duration !=''" class="ng-scope"><span style="font-size:11px; font-weight:bold" class="capitalize ng-binding">@LanguageResources.Resources.Duration: {{Activity.Duration}} </span></small>
                                                </h3>
                                            </div>
                                            <div>
                                                <span class="price"><small class="ng-binding">{{GrossCurrency}}</small>  {{(Activity.MinP)*(GrossROE) | number:2}}</span>
                                            </div>
                                        </div>
                                        <div class="hidden-xs">
                                            <p>
                                                {{Activity.Desc}}
                                            </p>
                                            <div>
                                                <span class="amenities">
                                                    @*<a data-toggle="modal" data-target="#squarespaceModal" ng-click="ActivityDetail(Activity.Code,Activity.Provider,Activity.Token,'Room')"><i class="fa fa-money circle" aria-hidden="true"></i></a>
                                                    <a data-toggle="modal" data-target="#squarespaceModal" ng-click="ActivityDetail(Activity.Code,Activity.Provider,Activity.Token,'Review')"><i class="fa fa-info circle" aria-hidden="true"></i></a>
                                                    <a data-toggle="modal" data-target="#squarespaceModal" ng-click="ActivityDetail(Activity.Code,Activity.Provider,Activity.Token,'Gallery')"><i class="fa fa-picture-o circle" aria-hidden="true"></i></a>*@
                                                    <a data-toggle="modal" data-target="#squarespaceModal" title="@LanguageResources.Resources.Rates ng-click="GetDetails(Activity,'TOURLIST')"><i class="fa fa-money circle" aria-hidden="true" style="cursor:pointer"></i></a>
                                                    <a data-toggle="modal" data-target="#squarespaceModal" title="@LanguageResources.Resources.Details" ng-click="GetDetails(Activity,'DETAILS')"><i class="fa fa-info circle" aria-hidden="true" style="cursor:pointer"></i></a>
                                                    <a data-toggle="modal" data-target="#squarespaceModal" title="@LanguageResources.Resources.Select" ng-click="GetDetails(Activity,'GALLERY')"><i class="fa fa-picture-o circle" aria-hidden="true" style="cursor:pointer"></i></a>
                                                </span>
                                                <button data-toggle="modal" data-target="#squarespaceModal" class="full-width button btn-small icon-check" ng-click="GetDetails(Activity, '')">@LanguageResources.Resources.Select</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="listing-style3 hotel" style="margin-top:10px;">
                                <article class="box" style="background:none">
                                    <figure class="col-sm-5 col-md-12">
                                        @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityWaiting")
                                    </figure>
                                </article>
                            </div>

                            

                            <div id="noResult" class="text-center nofilterresult col-lg-12" ng-show="noResultsFound" style="padding: 28px;">
                                <div class="col-lg-2"><i class="fa fa-chain-broken"></i></div>
                                <div class="col-lg-8">
                                    <h3>We could not find any options as per your search criteria.</h3>
                                    <div class="txt">Please update your search criteria and do the search again.</div>
                                </div>
                            </div>
                            <div class="block pull-right">
                                @*Start Angular paging section*@
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" on-page-change="pageChanged(newPageNumber)">
                                </dir-pagination-controls>
                                @*End Angular paging section*@
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-12" ng-show="noResultsFound">
                            <div class="sort-by-section clearfix search-details">
                                <ul class="search-criteria sort-bar clearfix block-sm">
                                    <li class="search-city">
                                        <label>
                                            <i class="soap-icon-departure" style="font-size: 20px;vertical-align:sub"></i> {{ :: ActivityCityName}}
                                        </label>
                                    </li>
                                    <li><span><label class="customDir"><i class="soap-icon-calendar" style="font-size: 18px;vertical-align:baseline !important"></i>&nbsp;{{ActivityFromDate | dayName | date:'EEE'}}, {{ActivityFromDate}} &nbsp;<i class="soap-icon-right" style="vertical-align:baseline !important"></i>&nbsp; <i class="soap-icon-calendar" style="font-size: 18px;vertical-align:baseline !important"></i>&nbsp;{{ActivityToDate | dayName | date:'EEE'}}, {{ActivityToDate}}</label><br>{{Adultcount > 1 ? Adultcount+ ' Adults' : Adultcount+ ' Adult'}}{{Childcount >= 1 ? ', ' +Childcount+ ' Child' : ''}}</span></li>
                                </ul>
                            </div>
                            <div id="noResult" class="text-center nofilterresult col-lg-12" style="background: #fff;padding: 30px;text-align:left">
                                <div class="col-lg-2" style="border-right:1px solid #eaeaea"><i class="fa fa-chain-broken" style="margin-left: 20px;"></i></div>
                                <div class="col-lg-8">
                                    <h2>Oops !</h2>
                                    <div style="color:#9e9e9e;font-size:16px"><b class="blink_me">No result found.</b></div>
                                    <div class="txt" style="color:#9e9e9e">We could not find any options as per your search criteria. </div>
                                    <div class="txt" style="color:#9e9e9e;font-size:11px">Please update your search criteria and do the search again.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    tjq(document).ready(function () {
        tjq('.mod-panel').on('click', function () {
            tjq('.modify-panel-back').css('display', 'block');
            tjq(this).css({ 'color': 'rgb(0, 0, 0)' }).parent().css({ 'background-color': 'rgb(255, 255, 255)' });
            tjq('.modify-panel').css({
                'box-shadow': '5px 5px 5px #565656'
            });
            tjq(this).parent().parent().css({
                'z-index': '998',
                'position': 'absolute',
                'width': '100%',
                'box-shadow': '5px 5px 5px #565656',
                '-webkit-boxshadow': '5px 5px 5px #565656'
            });
            tjq(".modify-panel").css('width', '900px');
            tjq('.modify-panel').show("slide", {
                direction: "left"
            }, 200);


        });
        tjq('.modify-panel-back').on('click', function () {
            tjq('.modify-panel').css({
                'display': 'none',
            });
            tjq('.mod-panel').parent().parent().css({
                'box-shadow': '5px 5px 5px #565656',
                'z-index': '',
                'position': '',
                'width': '',
                'box-shadow': 'none',
                '-webkit-boxshadow': 'none'
            });
            tjq('.modify-panel-back').css({
                'display': 'none'
            });
        });
    });
</script>

