
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivityDetail</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/TI/bootstrap.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/TI/style.css")" media="all" />
    <link rel=" stylesheet" type="text/css" href="@Url.Content("~/Css/TI/custom.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/TI/font-awesome.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/TI/jquery.galleryview-3.0-dev.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/TI/custom.css")" media="all" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/TI/jquery-1.11.1.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/TI/jquery.noconflict.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/TI/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/TI/responsive-tabs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/TI/jquery.timers-1.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/TI/jquery.galleryview-3.0-dev.js")"></script>
</head>
<body class="sub-body iframe-body">
    <div id="Div1" ng-show="detailWaiting">
        <div class="pageloader" style="height: 400px;">
            <div class="loader" style="top: 150px"></div>
            <div class="loader-section left"></div>
            <div class="loader-section right"></div>
        </div>
    </div>
    <button type="button" class="close-btn1 close1" style="position: absolute; right: 24px!important; top: 10px;" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true" style="font-size:24px">&times;</span><span class="sr-only">Close</span>
    </button>
    <div class="popup_tab activity"  style="padding: 20px;" ng-show="detailshow">
        <div class="row">
            <div class="col-sm-9">
                <h1>{{TourDetails.Name}}</h1>
            </div>
            <div class="col-sm-3">
                <div class="call_us">
                   @* <i class="fa fa-phone-square"></i>123456765*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="hotel-address" ng-if="TourDetails.Duration != ''">DURATION : {{TourDetails.Duration}}</div>
                <p class="hotel-price">Price Starting From {{TourDetails.MinP*(GrossROE) | number:2}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <article class=""><b>Search Date</b></article>
                <article class="">{{formatDate(ActFromDate) | date :'dd-MMM-yyyy'}} To {{formatDate(ActToDate) | date :'dd-MMM-yyyy'}}</article>
            </div>
            <div class="col-sm-4">
                <article class=""><b>No. of Passenger(s)</b></article>
                <article class="">{{ActAdult}} Adult {{ActChild}} Child</article>
            </div>
            <div class="col-sm-4" ng-if="TourDetails.Duration != ''">
                <article class=""><b>Duration</b></article>
                <article class="">{{TourDetails.Duration}}</article>
            </div>
            <!-- <div class="col-sm-3">
                <article class="txt-black"><b>Total Nights</b></article>
                <article class="txt-black">2</article>
            </div> -->
        </div>
        <div class="margin-top-20">
            <ul class="nav nav-tabs responsive" id="myTab">
                <li id="liRoom"><a href="#Room" data-toggle="tab" role="tab" class="deco-none">Rates</a></li>
                <li id="liReview"><a href="#Review" data-toggle="tab" role="tab" class="a_non_hover-xs">Information</a></li>
                <li id="liGallery"><a href="#Gallery" data-toggle="tab" role="tab" class="a_non_hover-xs">Gallery</a></li>
                <div class="col-sm-2 pull-right mrgn-0" id="hide_select_btn">
                    <a href="#liRoom#Room" data-toggle="tab" role="tab" class="btn btn-block btn-sm btn-primary">Select Activity</a>
                </div>
            </ul>
            <div class="tab-content tab-content-1 responsive hidden-xs">
                <div class="tab-pane overflow_hotel_auto" id="Room">

                    <div ng-show="prebookWaiting">
                        <div class="pageloader" style="height: 50px;">
                            <div class="loader"></div>
                            <div class="loader-section left"></div>
                            <div class="loader-section right"></div>
                        </div>
                    </div>

                    <div class="row_1 mrgn-top10 width_50per_right_xs" ng-repeat="Tours in TourDates  track by $index"  ng-init="outerIndex=$index">
                        <div class="col-sm-3 col-xs-12">
                            <span>{{Tours.Name}}</span>
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <span>                                                    
                                <select class="select-block"  id="DDL{{outerIndex}}">
                                    <option ng-repeat="Dates in Tours.DateList.Date"  value="{{Dates.Text}}">{{formatDate(Dates.Text) | date :'dd-MMM-yyyy'}}</option>                                    
                                </select>                                
                            </span>
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <span>                                
                                <a data-toggle="modal" data-target="#bs-example-modal-lg123" class="" ng-click="GetActivityPolicyDetail(HProductID,room.RoomId,outerIndex)" style="cursor:pointer">Cancellation</a>
                            </span>
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <span>
                                <b><a class="price1" data-original-title="" title="">{{GrossCurr}} {{(Tours.GrossPrice)*(GrossROE) | number:2}}</a></b>
                            </span>
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <span  ng-if="Tours.Avl=='Y'">Available</span>
                            <span ng-if="Tours.Avl!='Y'">On Request</span>
                        </div>
                        <div class="col-sm-1 col-xs-12">
                            <a ng-click="Setvalueforbooking(outerIndex)"  class="btn btn-block btn-sm btn-primary">Book</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
                <div class="tab-pane overflow_hotel_auto" id="Review">
                    <div class="row">
                        <div class="col-sm-9">                        
                            <p class="text-justify" ng-repeat="ActR in ActResponse">
                                <strong>{{ActR.Type}} : </strong>
                                <br>
                                {{ActR.Text}}
                            </p>

                        </div>

                        <div class="col-sm-3 mrgn-top15">
                            <img class="img-responsive" style="width:350px; height:197px" ng-src="{{TourDetails.Image}}" alt="" on-error-src="@Url.Content("~/Images/TI/not_avil.jpg")" />                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Gallery1">
                    <div class="gallery_outer1">
                        <ul id="myGallery1">
                            <li><img src="http://10.0.50.1/ti_hotel_images/82511/Big_Image/225447.jpeg" alt="1 Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. " /></li>
                            <li><img src="http://10.0.50.1/ti_hotel_images/82511/Big_Image/225450.jpeg" alt="2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry." /></li>
                            <li><img src="http://10.0.50.1/ti_hotel_images/82511/Big_Image/225450.jpeg" alt="3 Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry." /></li>
                            <li><img src="http://10.0.50.1/ti_hotel_images/82511/Big_Image/225456.jpeg" alt="4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry." /></li>
                            <li><img src="http://10.0.50.1/ti_hotel_images/82511/Big_Image/225438.jpeg" alt="5 Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry." /></li>
                            <li><img src="http://10.0.50.1/ti_hotel_images/82511/Big_Image/225438.jpeg" alt="6 Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry." /></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="Gallery">
                    <div class="gallery_outer">
                        <ul id="myGallery"  ng-repeat="imgname in ImageList">                             
                            <li><img ng-src="{{imgname.Text}}" alt="{{imgname.Type}}" on-error-src="@Url.Content("~/Images/TI/not_avil.jpg")" /></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <script type="text/javascript">
    tjq(document).ready(function() {
        //fakewaffle.responsiveTabs(['xs']);
        if (tjq('#liRoom').hasClass('active')) {
            tjq('#hide_select_btn').css('display', 'none');
        }
        tjq("#hide_select_btn").click(function(e) {
            e.preventDefault();
            tjq('#liRoom a').tab('show');
            tjq(this).css('display', 'none');
        });
        tjq('#myTab li a').click(function(e) {
            tjq(this).tab('show');
            e.preventDefault();

            if (tjq('#liRoom').hasClass('active')) {
                tjq('#hide_select_btn').css('display', 'none');
            } else {
                tjq('#hide_select_btn').css('display', 'block');
            }
        });
    });
    </script>
    <script type="text/javascript">
        tjq(function () {

            tjq('#myGallery').galleryView({
                enable_overlays: true,
                overlay_position: 'top',
                panel_scale: 'fit',
                pan_style: 'track',
                enable_slideshow: false,
                autoplay: true,
                panel_animation: 'crossfade',
                filmstrip_style: 'scroll'
            });


            var b = document.documentElement;
            b.setAttribute('data-useragent', navigator.userAgent);
            b.setAttribute('data-platform', navigator.platform);
    });
    </script>
</body>
</html>
