@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/"+CommonComponents.CompanySettings.CompanySetting().CompanyId+"/L2R/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Angularjs/Controller/ActivitySearch.js")"></script>
<style>
    .slidebg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: auto auto;
        background-origin: padding-box;
        background-clip: border-box;
    }
</style>
<section id="content" class="slideshow-bg">
    <div id="slideshow"  class="hidden-xs">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slidebg slidebgimg1"></div>
                </li>
                <li>
                    <div class="slidebg slidebgimg2"></div>
                </li>
                <li>
                    <div class="slidebg slidebgimg3"></div>
                </li>
                <li>
                    <div class="slidebg slidebgimg4"></div>
                </li>
                <li>
                    <div class="slidebg slidebgimg5"></div>
                </li>
                <li>
                    <div class="slidebg slidebgimg6"></div>
                </li>
                <li>
                    <div class="slidebg slidebgimg7"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container search-back">
        <div id="main">
            <h1 class="page-title hidden-xs"><span>@LanguageResources.Resources.FlywithusinComfort</span></h1>
            <h2 class="page-description col-md-8 no-float no-padding hidden-xs"><span>@LanguageResources.Resources.Werebringingyou</span></h2>
            <div class="search-box-wrapper style2">
                <div class="search-box">
                    <ul class="search-tabs clearfix">
                        <li class="active">
                            <a href="#activity-tab" data-toggle="tab">
                                <div class="tab-back-transparent"></div><i class="soap-icon-beach"></i><span>@LanguageResources.Resources.ACTIVITIES_Upper</span>
                            </a>
                        </li>
                    </ul>
                    <div class="visible-mobile">
                        <ul id="mobile-search-tabs" class="search-tabs clearfix">
                           @* <li class="active"><a href="#hotels-tab"><i class="fa fa-bed" aria-hidden="true"></i><span class="hidden-xs"> @LanguageResources.Resources.HOTELS_Upper</span></a></li>
     <li><a href="#flights-tab"><i class="soap-icon-plane-right takeoff-effect"></i><span class="hidden-xs"> @LanguageResources.Resources.FLIGHTS_Upper</span></a></li>
    <li><a href="#cars-tab">CARS</a></li>*@
                            <li class="active"><a href="#activity-tab"><i class="soap-icon-beach"></i><span class="hidden-xs">ACTIVITY</span></a></li>
                        </ul>
                    </div>
                    <div class="search-tab-content">
                        <div class="tab-pane fade active in" id="hotel-tab" ng-controller="ActivitySearch" ng-cloak>
                            @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityH")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
