@model TIRequestResponse.BookingXML
@{
    ViewBag.Title = "PassengerInfo";
    Layout = "~/Views/Shared/" + CommonComponents.CompanySettings.CompanySetting().CompanyId + "/R2L/_LayoutInner.cshtml";
}
<script type="text/javascript">
       function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 10);
        window.onunload=function(){null};
    </script>
<script type="text/javascript" src="@Url.Content("~/Angularjs/Controller/ActivityDetails.js")"></script>
<style>
    hr {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    .booking-details .other-details dt, .booking-details .other-details dd {
        padding: .8em 0 !important;
    }

    .detailed-logo figure {
        padding: 10px 0 !important;
    }
</style>
<div class="page-title-container style2">
    <div class="container">
        <div class="page-title">
            @*<h2 class="entry-title">Passenger Information</h2>*@
        </div>
        <ul class="breadcrumbs">
            <li><a href="@Url.Content("~/")">@LanguageResources.Resources.Home</a></li>
            <li class="active">@LanguageResources.Resources.PassengerInformation</li>
        </ul>
    </div>
</div>
<form action="@Url.Content("~/Home/Activity/SubmitPassengerInfo")" method="post" name="passenger">
    <section id="cont ent" class="gray-area">
        <div class="container">
            <div class="row" ng-app="mainApp" ng-controller="ActivityDetails" ng-cloak>
                <div class="sidebar col-sms-6 col-sm-4 col-md-4">
                    @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityFareDetails")
                </div>
                <div id="content">
                    <div id="main" class="col-sms-6 col-sm-8 col-md-8 paxpage">
                        <div class="booking-section travelo-box">
                            @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityPaxDetail")
                            <div>
                                @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityPolicyDetails")
                                <div id="termandbutton">
                                    <div class="row pd-bottom10">
                                        <div class="col-lg-12">
                                            <div class="checkbox custom_checkbox cancellation_policy">

                                                <input type="checkbox" value="" id="TermConditions" name="TermConditions" style="margin-left: 10px !important;float: right;cursor:pointer" data-toggle="checkbox" onchange="TermConditionsCheck()">
                                                <label class="text-justify">
                                                    <span style="cursor:default">@LanguageResources.Resources.IhavereadandaccepttheCancellationPolicyandthe</span>
                                                    <a href="#ti-termandcondition" class="soap-popupbox link_paragraph" onclick="TermAndCondition()">
                                                        @LanguageResources.Resources.BookingTermsandConditions
                                                    </a>
                                                    <div id="ti-termandcondition" class="ti-login-box ti-box" style="width:90%">
                                                        <div id="termandconditionloader" style="display:none;">
                                                            <div class="loaderlogin"></div>
                                                        </div>
                                                        <div id="termandconditioncontent" style="display:none"></div>
                                                    </div>
                                                </label>
                                                <div class="alertMsg" id="id_conditions"></div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <!-- <button type="button" class="close close1" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
                                                        <iframe class="iframe_width" src="@Url.Action("TermAndConditions", "Home")"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pd-bottom10">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 pull-right padding_con_0 details">
                                            <a id="btnPaxSubmit" class="full-width button btn-small pull-right" ng-click="ValidatePaxInfo(true);">@LanguageResources.Resources.Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                @*<div class="">
                        @Html.Partial(CommonComponents.CompanySettings.ViewBasePath() + "_ActivityFareDetails")
                    </div>*@
            </div>
        </div>
    </section>
</form>


