@model TIRequestResponse.BookingXML

<style>
    section#content {
        padding-top: 40px;
    }
    .booking-details .other-details dt, .booking-details .other-details dd {
        padding: .5em 0 !important;
    }

    .guest {
        border-bottom: 0px solid #f5f5f5 !important;
    }

</style>
<div class="booking-details travelo-box hotelreview">
    <div class="trip-summary">
        <h2>@LanguageResources.Resources.TripSummary</h2>
    </div>
    <div class="travelo-box">
        <h4 class="txt-bold">@LanguageResources.Resources.Activities</h4><hr />
        <article class="image-box hotel listing-style1 mrng-btn">
            <div>
                <img alt="" src="@(!string.IsNullOrEmpty(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Front_Image) ? @Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Front_Image : @Url.Content("~/Images/TI/not_avil.jpg"))" class="trip-summary-img">
                <div class="hotel-name">
                    <span class="box-title travel-title trip-summary-name">@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.DisplayName</span>
                    <div class="feedback feedback-add">
                        <div class="hotel_address"><i class="soap-icon-hotel-2 yellow-color" aria-hidden="true" style="font-size:13px"></i>&nbsp;<span style="font-size: 12px;">{{ActivitySearchRQ.SearchRequest.Master.DisplayCountryCityName}}</span></div>
                    </div>
                </div>
            </div>
            
            <div class="constant-column-3 timing clearfix font-10">
                <div class="check-in align-l">
                    <label>@LanguageResources.Resources.FromDate</label>
                    <span>
                      @CommonComponents.CommonMethod.ChangedDateformat(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.TourDate, "MM/dd/yyyy", "dd-MMM-yyyy")

                    @*@DateTime.Parse(@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.TourDate, new System.Globalization.CultureInfo("en-GB",true)).ToString("dd-MMM-yyyy")*@</span>
                </div>
                <div class="duration text-center">
                    <i class="soap-icon-clock"></i>
                    <span>@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.Duration </span>
                </div>
                <div class="check-out align-r">
                    <label>@LanguageResources.Resources.ToDate</label>
                    <span>
                    @CommonComponents.CommonMethod.ChangedDateformat(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.TourDate, "MM/dd/yyyy", "dd-MMM-yyyy")
                    </span>
                </div>
            </div>

            @*<div class="details booking-details">

                
            </div>*@
        </article>
        <dl class="other-details">
            <dt class="feature">@LanguageResources.Resources.Tour @LanguageResources.Resources.name:</dt>
            <dd class="value">@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.Name</dd>
            @*@if (!string.IsNullOrEmpty(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.Duration))
            {
                <dt class="feature">Duration:</dt>
                <dd class="value">@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.Duration</dd>
            }*@

            @*<dt class="feature">@LanguageResources.Resources.Tour @LanguageResources.Resources.Date:</dt>*@
            @*<dd class="value">@CommonComponents.CommonMethod.ChangedDateformat(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.TourDate, "MM/dd/yyyy", "dd-MMM-yyyy")</dd>*@
            <dt class="feature">@LanguageResources.Resources.Guests:</dt>
            <dd class="value">@Html.Raw((Model.PassengerDetails.Adults > 1 ? Model.PassengerDetails.Adults + " "+ @LanguageResources.Resources.Adult+ "" : Model.PassengerDetails.Adults + " " + @LanguageResources.Resources.Adult + "") + (Model.PassengerDetails.Childs > 0 ? ", " + Model.PassengerDetails.Childs + (Model.PassengerDetails.Childs > 1 ? " "+ @LanguageResources.Resources.Children+ ""  : " " + @LanguageResources.Resources.Child + "") : ""))</dd>
            <dt class="total-price font-bold">@LanguageResources.Resources.Total</dt>
            <dd class="total-price-value price nb-binding" style="font-size: 1.6em; float:none">
                <small class="ng-binding">{{GrossCurrency}}</small> {{@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.Gross_Price * GrossROE | number:2}}
            </dd>
            <div class="coupon-back" style="clear:both">
                <div id="dvCouponArea">
                    <dl ng-hide="IsValid" class="invalid" style="border-top: 0px solid #f5f5f5;">
                        <dt class="feature" style="border-top: 0px solid #f5f5f5;">
                            <input type="text" style="background:#fff;" class="input-text promocodetxt" placeholder="@LanguageResources.Resources.HaveaPromoCode" id="txtPromocode" maxlength="20" ng-model="couponCode" />
                            <span class="alertMsg" ng-if="errorMessage !=''" style="margin-bottom: 0px; color:#fff;">{{errorMessage}}</span>
                        </dt>
                        <dd class="value" style="border-top: 0px solid #f5f5f5;">
                            <input type="button" class="button btn-small pull-right" ng-click="ValidateCoupon()" value="@LanguageResources.Resources.Apply" style="margin-top: 6px;" />
                        </dd>
                    </dl>
                    <dl ng-show="IsValid" class="other-details valid">
                        <dt class="feature">
                            <span class="valid-promo">@LanguageResources.Resources.PromoCodeApplied</span>
                        </dt>
                        <dd class="value prom o-close promoapplied" style="border-top: 0px solid #f5f5f5">
                            <span style="cursor:pointer" ng-click="removeDiscount()" alt="@LanguageResources.Resources.RemoveCoupon" title="@LanguageResources.Resources.RemoveCoupon" class="glyphicon glyphicon-remove circle"></span>
                            <span style="color:#fff;">{{errorMessage}}</span>
                        </dd>
                        <dt class="feature discount-txt">@LanguageResources.Resources.PromoDiscount</dt>
                        <dd class="value discount-value">{{GrossCurrency}} {{DiscountAmt  | number:2}}</dd>
                        <dt class="total-price">@LanguageResources.Resources.GrandTotal</dt>

                        <dd class="total-price-value" style="font-size: 1.9em;">{{GrossCurrency}} {{(@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Tour.Gross_Price * GrossROE -0) - (DiscountAmt-0) | number:2}}</dd>
                        <dt class="saved-value" style="text-transform: none;">
                            <span class="glyphicon glyphicon-ok circle"></span>
                            @LanguageResources.Resources.CongratsYoujustsaved {{GrossCurrency}} {{DiscountAmt  | number:2}}
                        </dt>
                    </dl>
                    <div>&nbsp;</div>
                </div>

                <svg class="dotted-border" width="100%" height="12px" preserveAspectRatio="none">
                    <defs>
                        <pattern id="dots_large" width="20" height="12" patternUnits="userSpaceOnUse">
                            <circle cy="14" cx="10" r="7" fill="white" />
                        </pattern>
                    </defs>
                    <rect width="100%" height="12px" fill="url(#dots_large)" />
                </svg>
            </div>
        </dl>


        
    </div>
</div>


