@model TIRequestResponse.BookingXML
<div class="person-information" id="dvPaxDetail" data-service="Activity">
    <h3>@LanguageResources.Resources.TravelerInformation</h3>
    <hr />
    <br class="hidden-xs hidden-sm">
    <div class="flp">
        <div class="form-group row pd-bottom10">
            <div class="col-sm-6 col-md-4">
                <b>@LanguageResources.Resources.DiallingCode<span class="red-star">*</span></b>
                <div class="selector">
                    @Html.DropDownListFor(m => m.PassengerDetails.Passenger[0].DailingCode, ViewBag.CountryPinCodeList as SelectList, new { @class = "full-width dropdown", @id = "ddlDailingCode" })
                </div>
                <div class="alertMsg" ng-if="paxDailingCodeMsg !=''">{{paxDailingCodeMsg}}</div>
            </div>
            <div class="col-sm-6 col-md-4">
                <b>@LanguageResources.Resources.MobileNumber <span class="red-star">*</span></b>
                @Html.TextBoxFor(m => m.PassengerDetails.Passenger[0].MobileNumber, new { @class = "input-text full-width textbox", @placeholder=LanguageResources.Resources.MobileNo, @maxlength = 10, @onkeydown = "return ValidateNumber(event);", @id = "txtMobileNo" })
                @*<label class="floatinglabel" for="txtMobileNo">Mobile No</label>*@
                <div class="alertMsg" ng-if="paxMobileNumberMsg !=''">{{paxMobileNumberMsg}}</div>
            </div>
            <div class="col-sm-6 col-md-4">
                <b>@LanguageResources.Resources.EmailId <span class="red-star">*</span></b>
                @Html.TextBoxFor(m => m.PassengerDetails.Passenger[0].EMailID, new { @class = "input-text full-width textbox", @placeholder = LanguageResources.Resources.EmailId, @id = "txtEmailId" })
                @*<label class="floatinglabel" for="txtEmailId">Email Id</label>*@
                <div class="alertMsg" ng-if="paxEmailMsg !=''">{{paxEmailMsg}}</div>
            </div>
        </div>
        <div class="highlight margin-bot-20">
            @*<hr style="margin-top: 0px;margin-bottom: 0px;" />*@
        </div>
        @{int PAXINDEX = -1; }
        @{int paxnumber = 0; }
        @foreach (var paxItem in Model.PassengerDetails.Passenger.Select((y, i) => new { value = y, index = i }))
        {
            { PAXINDEX++; }
            { paxnumber++; }
            @Html.HiddenFor(m => m.PassengerDetails.Passenger[PAXINDEX].PaxType)
            @Html.HiddenFor(m => m.PassengerDetails.Passenger[PAXINDEX].Age)
            <div class="form-group row">
            
                <div class="col-sm-6 col-md-1 pax-type" style="padding:10px 3px 2px 20px">
                    @if (paxItem.value.PaxType == "ADT")
                {
                        <b>@LanguageResources.Resources.Adult-@paxnumber</b>
                    }
                    else
                    {
                        <b>@LanguageResources.Resources.Child-@paxnumber</b>
                    }
                </div>
                <div class="col-sm-6 col-md-2 ">
                    <b>@LanguageResources.Resources.Title <span class="red-star">*</span></b>
                    <div class="selector">
                    
                        @if (paxItem.value.PaxType == "ADT")
                        {
                            @Html.DropDownListFor(m => m.PassengerDetails.Passenger[PAXINDEX].Title, new SelectList(new[] { new { TitleText = "Title", TitleValue = "" }, new { TitleText = "Mr", TitleValue = "Mr" }, new { TitleText = "Mrs", TitleValue = "Mrs" }, new { TitleText = "Miss", TitleValue = "Miss" } }, "TitleValue", "TitleText", Model.PassengerDetails.Passenger[PAXINDEX].Title), new { @class = "full-width dropdown", @id = "ddlTitle" + PAXINDEX })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.PassengerDetails.Passenger[PAXINDEX].Title, new SelectList(new[] { new { TitleText = "Title", TitleValue = "" }, new { TitleText = "Master", TitleValue = "Mstr" }, new { TitleText = "Miss", TitleValue = "Miss" } }, "TitleValue", "TitleText", Model.PassengerDetails.Passenger[PAXINDEX].Title), new { @class = "full-width dropdown", @id = "ddlTitle" + PAXINDEX })
                        }
                    </div>
                    <div class="alertMsg" ng-if="paxValidation[@PAXINDEX].Title !=''">{{paxValidation[@PAXINDEX].Title}}</div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <b>@LanguageResources.Resources.FirstName <span class="red-star">*</span></b>
                        @Html.TextBoxFor(m => m.PassengerDetails.Passenger[PAXINDEX].FirstName, new { @class = "input-text full-width textbox", @placeholder = LanguageResources.Resources.FirstName, @id = "txtFirstName" + PAXINDEX })
                        <div class="alertMsg" ng-if="paxValidation[@PAXINDEX].FirstName !=''">{{paxValidation[@PAXINDEX].FirstName}}</div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    
                    <div class="form-group">
                        <b>@LanguageResources.Resources.MiddleName <span class="red-star"></span></b>
                        @Html.TextBoxFor(m => m.PassengerDetails.Passenger[PAXINDEX].MiddleName, null, new { @class = "input-text full-width textbox", @placeholder = LanguageResources.Resources.MiddleName, @id = "txtMiddleName" + PAXINDEX })
                        @*<label class="floatinglabel" for='@("txtMiddleName" + PAXINDEX)'>Middle Name</label>*@
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <b>@LanguageResources.Resources.LastName <span class="red-star">*</span></b>
                        @Html.TextBoxFor(m => m.PassengerDetails.Passenger[PAXINDEX].LastName, null, new { @class = "input-text full-width textbox", @placeholder = LanguageResources.Resources.LastName, @id = "txtLastName" + PAXINDEX })
                        @*<label class="floatinglabel" for='@("txtLastName" + PAXINDEX)'>Last Name</label>*@
                        <div class="alertMsg" ng-if="paxValidation[@PAXINDEX].LastName !=''">{{paxValidation[@PAXINDEX].LastName}}</div>
                    </div>
                </div>
            </div>
        }
        <div class="highlight margin-bot-20">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <span class="room"><b>@LanguageResources.Resources.SpecialRequestifAny</b></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 col-md-8">
                @Html.TextAreaFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.SpecialReq, new { @class = "input-text full-width" })
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right padding_con_0">
        </div>
    </div>
</div>


