@model TIRequestResponse.BookingXML

<div ng-controller="ActivityDetails" ng-cloak>
    <div class="qwesans flp">
        <div class="form-group row pd-bottom10">
            <div class="col-lg-12" style="margin-top: 15px;">
        @{int PAXINDEX = 0; }
        @if (Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions != null)
        {
            if (Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question.Count() > 0)
            {
                <h3 style="margin-bottom:0px">@LanguageResources.Resources.AdditionalInformation</h3>
                <p style="margin:0px;">@Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Desc</p>
                @Html.HiddenFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Desc)
                <hr />
                foreach (var quest in Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question.Select((x, i) => new { value = x, index = i }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <b>@{PAXINDEX++;} @PAXINDEX - @quest.value.Ques *</b>
                            @Html.HiddenFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question[quest.index].Ques)
                            @Html.HiddenFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question[quest.index].Code)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="padding:10px 0px 10px 29px">
                       @*@if (Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.CID == "GTA")
                        {
                          @Html.DropDownListFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question[0].Options.Option[0].Text, ViewBag.Answers as IEnumerable<SelectListItem>, "Select any one option", new { @id = "ddlanswer", @class = "form-control", @style = "width:200px" })  
                        }*@
                       @if (Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.CID == "HB")
                        {   
                           
                            @Html.TextBoxFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question[quest.index].Ans, new { @id = "txtanswer" + PAXINDEX, @class = "input-text full-width textbox answertxt", @placeholder = "Fill your answer..", @style = "width:300px !important" })

                       }
                       else
                       {
                        <div class="selector">
                            @Html.DropDownListFor(m => m.Activityinfo.Activity_Booking_RQ[0].SightSeeing.Questions.Question[0].Options.Option[0].Text, ViewBag.Answers as IEnumerable<SelectListItem>, "Select any one option", new { @id = "ddlanswer", @class = "full-width", @style = "width:200px" })
                            </div>
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding:0px 0px 10px 29px">
                             <div class="alertMsg" id="id_ddllabel"></div>
                            <div class="alertMsg" id="@("id_txtlabel" + PAXINDEX)"></div>
                        </div>
                    </div>
                    }
                  }
                }

             </div>
            </div>
        </div>

    <div class="row  mrgn_auto mrgn-bottom10">
    <div class="col-lg-12">

    @if (!string.IsNullOrEmpty(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.ContractRemarks))
    {
            <h3 style="margin-bottom:0px">@LanguageResources.Resources.MandatoryRemarks</h3>
            <hr />
            <div class="text-justify">
               @Html.Raw(Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.ContractRemarks)
            </div>
            <BR />
    }
    <h3 style="margin-bottom:0px">@LanguageResources.Resources.CancellationPolicy</h3>
    <hr />

    @foreach (var canxp in Model.Activityinfo.Activity_Booking_RQ[0].SightSeeing.CancellationPolicy.Policy)
    {
        <div>
            <i class="fa fa-hand-o-right"></i>&nbsp; 
            @LanguageResources.Resources.Ifyoucancelbookingbetween            
            <b>@CommonComponents.CommonMethod.ChangedDateformat(canxp.DateFrom, "MM/dd/yyyy", "dd-MMM-yyyy")</b>
            @LanguageResources.Resources.to
            <b>@CommonComponents.CommonMethod.ChangedDateformat(canxp.DateTo, "MM/dd/yyyy", "dd-MMM-yyyy")</b> 
            @LanguageResources.Resources.thenCancellationChargeswillbe<b>{{GrossCurrency}} {{@canxp.Gross_Price * GrossROE | number:2}}  </b>
        </div>
    }
        <div class="text-justify">
            <hr />
            <p>
                @LanguageResources.Resources._Note @LanguageResources.Resources.notes
                <br />
                <small class="uppercase"><span class="skin-co lor">@LanguageResources.Resources.Dateandtimeiscalculated</span></small>

            </p>
            <BR />
        </div>
    </div>
</div>
</div>
